.DS_Store
.rebar3
_*
.eunit
*.o
*.beam
*.plt
*.swp
*.swo
.erlang.cookie
ebin
log
erl_crash.dump
.rebar
logs
_build
.idea
*.iml
rebar3.crashdump
*.erl~
*.aes~
apps/aesophia_http/priv
apps/aesophia_http/src/endpoints.erl
swagger/swagger-codegen-cli-2.3.1.jar
