%% -*- mode: erlang -*-
{plugins, [{swagger_endpoints, {git, "https://github.com/aeternity/swagger_endpoints",
                                     {ref, "ac38525ba55e8eefc00fb4fc0ec697ec3b2c26cf"}}}]}.

{swagger_endpoints, [{src, "config/swagger.yaml"}, {dst, "apps/aesophia_http/src/endpoints.erl"}]}.

{erl_opts, [debug_info]}.
{deps, [
        {aeserialization, {git, "https://github.com/aeternity/aeserialization.git",
                           {ref, "eb68fe3"}}},
        {aebytecode, {git, "https://github.com/aeternity/aebytecode.git",
                           {tag, "v3.1.1"}}},
        {aesophia, {git, "https://github.com/aeternity/aesophia.git",
                    {tag, "v7.1.0"}}},
        {eblake2, "1.0.0"},
        {jsx, {git, "https://github.com/talentdeficit/jsx.git",
                     {tag, "v2.11.0"}}},
        {jesse, {git, "https://github.com/for-GET/jesse.git",
                {tag, "1.6.1"}}},
        {cowboy, {git, "https://github.com/ninenines/cowboy.git",
                  {tag, "2.9.0"}}}
       ]}.

{relx, [{release, {aesophia_http, "7.3.0"}, [aesophia_http, sasl, aeserialization]},

        {sys_config, "./config/sys.config"},
        {vm_args, "./config/vm.args"},

        {dev_mode, true},
        {include_erts, false},

        {extended_start_script, true}]
}.

{profiles, [{prod, [{relx, [{dev_mode, false},
                            {include_erts, true}]}]
            }]
}.

{dialyzer, [{warnings, [unknown]},
            {base_plt_apps, [erts, kernel, stdlib, crypto, inets]},
            {plt_apps, all_deps}]}.
