[
  { aesophia_http, []},
  {kernel, [
    {logger, [
        {handler, default, logger_std_h,
         #{formatter => {logger_formatter, #{single_line => true,
                                             template => [time," ",mfa,":",line," ",pid," [",level,"] ",msg,"\n"]}}}}
    ]},
    {logger_level, warning}
]}
].
